<h1>Lookup Restaurant</h1>

<%= form_tag(restaurant_search_path, :method => "get", id: "search-form") do %>
    <%= label_tag :restaurant_name %>
    <%= text_field_tag :restaurant_name %>
    <%= submit_tag "Search" %>
<% end %>
