// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #9E1E2B;

html{
  background-color: $red;
}

div{
  position: relative;
  width: 50%;
  margin: auto;
}

section{
  position: absolute;
  top: 20%;
  left: 20%;
  overflow: scroll;
  height: 60%;
}
