// Place all the styles related to the restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #9E1E2B;

html{
  background-color: $red;
}

.clipboard{
  position: relative;
  width: 50%;
  margin: auto;
}

section{
  position: absolute;
  top: 20%;
  left: 20%;
  overflow: scroll;
  height: 60%;
  h1{
    text-align: center;
  }
  h1, h3{
      font-family: 'Tangerine', serif;
      font-size: 2em;
  }
}

.chef img{
  width: 30%;
  position: absolute;
  top: 60%;
  left: 10%;
}


.submit-btn{
    position: absolute;
    display: block;
    text-align: center;
    margin-top: 1em;

    .submit{
    border: none;
    position: absolute;
    position: absolute;
    top: 20px;
    left: 96px;
    background: #F8F8F9;
    }
    img{
      width: 30%;
    }

}
